<div class="forecast-wrapper">
  @if (forecast$  | async; as forecast) {
    @switch (forecast.state) {
      @case ("loading") {
        <mat-spinner></mat-spinner>
      }
      @case ("error") {
        <mat-card appearance="outlined">
            <mat-card-content>Failed to load forecast for required location</mat-card-content>
        </mat-card>
      }
      @case ("loaded") {
        <app-weather-forecast [forecast]="forecast.data"></app-weather-forecast>
      }
    }
  }

<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Go to Current Weather Page</a>
</div>